.BarraBusqueda{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    height: 44px;
    display: flex;
}
.imgLupa{
    width: 20px;
    height: 20px;
}
.lupaImagen{
    width: 10%;
    color: #9aa0a6;
    fill: currentColor;
}
.TextoBuscar{
    width: 80%;
    border: 0;
    outline: none;
}
.TextoBuscar:active{
    border: none;
}
.CamaraImagen{
    width: 10%;
}
.CamaraImg{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}